@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

body{
  background:#DBD0BB;
  font-family:'Josefin Sans', sans-serif;
}

#login{
  position: relative;
  top: 50%;
  transform: translateY(25%);
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

form{
  background:#61A2A0;
  padding:6% 4%;
}

.input{
  width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #237779;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555555;
}

input[type="submit"]{
  width:100%;
  background:#D84D3E;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:#B24736;
}

.myGrid {
    width: 500px;
    height: 250px;
  }